# odoo-data-flow
.odf_cache/

# virtualenv
.venv/

# mypy
.mypy_cache/

# pytest
.pytest_cache/
.coverage
coverage.xml

# ruff
.ruff_cache/

# nox
.nox/

# build
build/
dist/
*.egg-info/

# misc
*.pyc
*.log
*.bak
*.swp
*~

# IDEs
.idea/
.idea*
.vscode/

# Odoo Data Flow specific
*_fail.csv
*_failed.csv
testdata/

# uv lock file
uv.lock

# pydoclint baseline
pydoclint-baseline.txt

# python
__pycache__

# docs build output
docs/_build/

# misc
.project
.pydevproject
.cache
node_modules
_build
ODF_ Strategic Blueprint.md
.coverage
